<div fxFlex fxFlexOffset="20px" class="form-size" *ngIf = "!loginSucceful">
    <h3>Login</h3>

    <form novalidate [formGroup]="loginForm" #fform="ngForm" (ngSubmit)="onSubmit()">
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="username" placeholder="Usuario" type="text" required>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="password" placeholder="password" type="text"  required>
            </mat-form-field>
        </p>
    
      <button type="submit" mat-button class="background-primary text-floral-white">Submit</button>
      
    </form>
  </div>

  <app-menu *ngIf="loginSucceful"></app-menu>