<mat-toolbar class="navbar">
    <span><img src="/assets/images/logo.png" height=30 width=41></span>
    <a mat-button routerLink="/home"><span class="fa fa-home fa-lg"></span> Inicio </a>
    <a mat-button routerLink="/administration"><span class="fa fa-info fa-lg"></span> Administracion</a>
    <a mat-button routerLink="/track"><span class="fa fa-list fa-lg"></span> Seguimiento</a>
    <a mat-button routerLink="/user"><span class="fa fa-address-card fa-lg"></span> Usuarios</a>

    <span><h1><i>Usuario:   </i> <b>{{user}}</b></h1></span>
    <a mat-button routerLink="/login" (click)="logOut()"><span class="fa fa-address-card fa-lg"></span> Log out</a>
  </mat-toolbar>
  

   