<app-navbar></app-navbar>

<div class="container"
     fxLayout="column"
     fxLayoutGap="10px"
     *ngIf=showed>

  <mat-grid-list  fxFlex cols="2" rowHeight="2:1">
    
    <mat-grid-tile *ngFor="let option of options" >

      <img matListAvatar src={{option.image}} alt={{option.title}} (click)="showSubMenu(option.title)">

      <mat-grid-tile-footer >
          <h1>{{option.title}}</h1>
      </mat-grid-tile-footer >
       
    </mat-grid-tile>
  </mat-grid-list>

</div>

<button *ngIf=!showed (click)="showSubMenu('null')">Inicio</button>

<app-users-submenu *ngIf="selectedMenu == 'Usuarios'"></app-users-submenu>  
<app-administracion-submenu *ngIf="selectedMenu == 'Administracion'"></app-administracion-submenu>
<app-consultas-submenu *ngIf="selectedMenu == 'Consultas'"></app-consultas-submenu>
<app-seguimiento-submenu *ngIf="selectedMenu == 'Seguimiento'"></app-seguimiento-submenu>