
<!-- Con esta plantilla se mostraran los formularios de creacion para los clientes, sedes, etc... -->

<!-- Formulario para crear un cliente -->
<div fxFlex fxFlexOffset="20px" class="form-size" *ngIf="selectedFormType == 'client'">
    <h3>Registrar cliente</h3>
    <!-- <p>{{ clienteForm.value | json }} {{ cliente.nombre | json }}</p> -->

    <form novalidate [formGroup]="clienteForm" #fform="ngForm" (ngSubmit)="onSubmit()">
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="nombre" placeholder="Razon social / Nombre" type="text" required>
                <mat-error *ngIf="formErrors.nombre">{{formErrors.nombre}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="cif" placeholder="Cif" type="text" pattern="[0-9]{8}[A-Za-z]{1}" required>
                <mat-error *ngIf="formErrors.cif">{{formErrors.cif}}</mat-error>
            </mat-form-field>
        <!-- </p>

    <br/>

        <p> -->
            <mat-form-field class="half-width">
                <input matInput formControlName="calle" placeholder="Calle" type="text" required>
                <mat-error *ngIf="formErrors.calle">{{formErrors.calle}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="cp" placeholder="Codigo postal" pattern = "[0-9]{5}" type="text" required>
                <mat-error *ngIf="formErrors.cp">{{formErrors.cp}}</mat-error>
            </mat-form-field>
        <!-- </p>
        <p> -->
            <mat-form-field class="half-width">
                <input matInput formControlName="poblacion" placeholder="Poblacion" type="text" required>
                <mat-error *ngIf="formErrors.poblacion">{{formErrors.poblacion}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="provincia" placeholder="Provincia" type="text" required>
                <mat-error *ngIf="formErrors.provincia">{{formErrors.provincia}}</mat-error>
            </mat-form-field>
       
            <mat-form-field class="half-width">
                <input matInput formControlName="pais" placeholder="Pais" type="text" required>
                <mat-error *ngIf="formErrors.pais">{{formErrors.pais}}</mat-error>
            </mat-form-field>
        </p>

        <br/>

        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="contactoPrin" placeholder="Contacto principal" type="text" required>
                <mat-error *ngIf="formErrors.contactoPrin">{{formErrors.contactoPrin}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="tlfPrin" placeholder="Telefono principal" pattern = "[0-9]{9}" type="text" required>
                <mat-error *ngIf="formErrors.tlfPrin">{{formErrors.tlfPrin}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="movilPrin" placeholder="Movil principal" pattern = "[0-9]{9}" type="text" required>
                <mat-error *ngIf="formErrors.mailPrin">{{formErrors.mailPrin}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="mailPrin" placeholder="Mail principal" type="mail" required>
                <mat-error *ngIf="formErrors.mailPrin">{{formErrors.mailPrin}}</mat-error>
            </mat-form-field>
        </p>

        <br/>

        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="contactoSec" placeholder="Contacto sdecundario" type="text">
                <mat-error *ngIf="formErrors.contactoPrin">{{formErrors.contactoSec}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="tlfSec" placeholder="Telefono sdecundario" pattern = "[0-9]{9}" type="text">
                <mat-error *ngIf="formErrors.tlfSec">{{formErrors.tlfSec}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="movilSec" placeholder="Movil sdecundario" pattern = "[0-9]{9}" type="number">
                <mat-error *ngIf="formErrors.movilSec">{{formErrors.movilSec}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="mailSec" placeholder="Mail sdecundario" type="mail">
                <mat-error *ngIf="formErrors.mailSec">{{formErrors.mailSec}}</mat-error>
            </mat-form-field>
        </p>
    
      <button type="submit" mat-button class="background-primary text-floral-white">Submit</button>
      
    </form>
  </div>


  <!-- Formulario de creacion de sedes -->

  <div fxFlex fxFlexOffset="20px" class="form-size" *ngIf="selectedFormType == 'headquarters'">
    <h3>Registrar sede</h3>
    

    <form novalidate [formGroup]="clienteForm" #fform="ngForm" (ngSubmit)="onSubmit()">
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="nombre" placeholder="Razon social / Nombre" type="text" required>
                <mat-error *ngIf="formErrors.nombre">{{formErrors.nombre}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="cif" placeholder="Cif" type="text" pattern="[0-9]{8}[A-Za-z]{1}" required>
                <mat-error *ngIf="formErrors.cif">{{formErrors.cif}}</mat-error>
            </mat-form-field>
       
            <mat-form-field class="half-width">
                <input matInput formControlName="calle" placeholder="Calle" type="text" required>
                <mat-error *ngIf="formErrors.calle">{{formErrors.calle}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="cp" placeholder="Codigo postal" pattern = "[0-9]{5}" type="text" required>
                <mat-error *ngIf="formErrors.cp">{{formErrors.cp}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="poblacion" placeholder="Poblacion" type="text" required>
                <mat-error *ngIf="formErrors.poblacion">{{formErrors.poblacion}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="provincia" placeholder="Provincia" type="text" required>
                <mat-error *ngIf="formErrors.provincia">{{formErrors.provincia}}</mat-error>
            </mat-form-field>
       
            <mat-form-field class="half-width">
                <input matInput formControlName="pais" placeholder="Pais" type="text" required>
                <mat-error *ngIf="formErrors.pais">{{formErrors.pais}}</mat-error>
            </mat-form-field>
        </p>

        <br/>

        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="contactoPrin" placeholder="Contacto principal" type="text" required>
                <mat-error *ngIf="formErrors.contactoPrin">{{formErrors.contactoPrin}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="tlfPrin" placeholder="Telefono principal" pattern = "[0-9]{9}" type="text" required>
                <mat-error *ngIf="formErrors.tlfPrin">{{formErrors.tlfPrin}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="movilPrin" placeholder="Movil principal" pattern = "[0-9]{9}" type="text" required>
                <mat-error *ngIf="formErrors.mailPrin">{{formErrors.mailPrin}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="mailPrin" placeholder="Mail principal" type="mail" required>
                <mat-error *ngIf="formErrors.mailPrin">{{formErrors.mailPrin}}</mat-error>
            </mat-form-field>
        </p>

        <!-- <br/>

        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="contactoSec" placeholder="Contacto sdecundario" type="text">
                <mat-error *ngIf="formErrors.contactoPrin">{{formErrors.contactoSec}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="tlfSec" placeholder="Telefono sdecundario" pattern = "[0-9]{9}" type="text">
                <mat-error *ngIf="formErrors.tlfSec">{{formErrors.tlfSec}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="movilSec" placeholder="Movil sdecundario" pattern = "[0-9]{9}" type="number">
                <mat-error *ngIf="formErrors.movilSec">{{formErrors.movilSec}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="mailSec" placeholder="Mail sdecundario" type="mail">
                <mat-error *ngIf="formErrors.mailSec">{{formErrors.mailSec}}</mat-error>
            </mat-form-field>
        </p> -->
    
      <button type="submit" mat-button class="background-primary text-floral-white">Submit</button>
      
    </form>
  </div>

  <!-- Formulario para crear un proyecto -->

  <div fxFlex fxFlexOffset="20px" class="form-size" *ngIf="selectedFormType == 'project'">
    <h3>Registrar proyecto</h3>
    

    <form novalidate [formGroup]="clienteForm" #fform="ngForm" (ngSubmit)="onSubmit()">
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="nombre" placeholder="Razon social / Nombre" type="text" required>
                <mat-error *ngIf="formErrors.nombre">{{formErrors.nombre}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="cif" placeholder="Cif" type="text" pattern="[0-9]{8}[A-Za-z]{1}" required>
                <mat-error *ngIf="formErrors.cif">{{formErrors.cif}}</mat-error>
            </mat-form-field>
       
            <!-- <mat-form-field class="half-width">
                <input matInput formControlName="calle" placeholder="Calle" type="text" required>
                <mat-error *ngIf="formErrors.calle">{{formErrors.calle}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="cp" placeholder="Codigo postal" pattern = "[0-9]{5}" type="text" required>
                <mat-error *ngIf="formErrors.cp">{{formErrors.cp}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="poblacion" placeholder="Poblacion" type="text" required>
                <mat-error *ngIf="formErrors.poblacion">{{formErrors.poblacion}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="provincia" placeholder="Provincia" type="text" required>
                <mat-error *ngIf="formErrors.provincia">{{formErrors.provincia}}</mat-error>
            </mat-form-field>
       
            <mat-form-field class="half-width">
                <input matInput formControlName="pais" placeholder="Pais" type="text" required>
                <mat-error *ngIf="formErrors.pais">{{formErrors.pais}}</mat-error>
            </mat-form-field>
        </p>

        <br/>

        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="contactoPrin" placeholder="Contacto principal" type="text" required>
                <mat-error *ngIf="formErrors.contactoPrin">{{formErrors.contactoPrin}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="tlfPrin" placeholder="Telefono principal" pattern = "[0-9]{9}" type="text" required>
                <mat-error *ngIf="formErrors.tlfPrin">{{formErrors.tlfPrin}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="movilPrin" placeholder="Movil principal" pattern = "[0-9]{9}" type="text" required>
                <mat-error *ngIf="formErrors.mailPrin">{{formErrors.mailPrin}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="mailPrin" placeholder="Mail principal" type="mail" required>
                <mat-error *ngIf="formErrors.mailPrin">{{formErrors.mailPrin}}</mat-error>
            </mat-form-field>
        </p>

        <br/>

        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="contactoSec" placeholder="Contacto sdecundario" type="text">
                <mat-error *ngIf="formErrors.contactoPrin">{{formErrors.contactoSec}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="tlfSec" placeholder="Telefono sdecundario" pattern = "[0-9]{9}" type="text">
                <mat-error *ngIf="formErrors.tlfSec">{{formErrors.tlfSec}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="movilSec" placeholder="Movil sdecundario" pattern = "[0-9]{9}" type="number">
                <mat-error *ngIf="formErrors.movilSec">{{formErrors.movilSec}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="mailSec" placeholder="Mail sdecundario" type="mail">
                <mat-error *ngIf="formErrors.mailSec">{{formErrors.mailSec}}</mat-error>
            </mat-form-field>
        -->
        </p> 
    
      <button type="submit" mat-button class="background-primary text-floral-white">Submit</button>
      
    </form>
  </div>

  <!-- Formulario para registrar transporte -->

  <div fxFlex fxFlexOffset="20px" class="form-size" *ngIf="selectedFormType == 'transport'">
    <h3>Registrar transporte</h3>
    

    <form novalidate [formGroup]="clienteForm" #fform="ngForm" (ngSubmit)="onSubmit()">
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="nombre" placeholder="Razon social / Nombre" type="text" required>
                <mat-error *ngIf="formErrors.nombre">{{formErrors.nombre}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="cif" placeholder="Cif" type="text" pattern="[0-9]{8}[A-Za-z]{1}" required>
                <mat-error *ngIf="formErrors.cif">{{formErrors.cif}}</mat-error>
            </mat-form-field>
       
            <!-- <mat-form-field class="half-width">
                <input matInput formControlName="calle" placeholder="Calle" type="text" required>
                <mat-error *ngIf="formErrors.calle">{{formErrors.calle}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="cp" placeholder="Codigo postal" pattern = "[0-9]{5}" type="text" required>
                <mat-error *ngIf="formErrors.cp">{{formErrors.cp}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="poblacion" placeholder="Poblacion" type="text" required>
                <mat-error *ngIf="formErrors.poblacion">{{formErrors.poblacion}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="provincia" placeholder="Provincia" type="text" required>
                <mat-error *ngIf="formErrors.provincia">{{formErrors.provincia}}</mat-error>
            </mat-form-field>
       
            <mat-form-field class="half-width">
                <input matInput formControlName="pais" placeholder="Pais" type="text" required>
                <mat-error *ngIf="formErrors.pais">{{formErrors.pais}}</mat-error>
            </mat-form-field>
        </p>

        <br/>

        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="contactoPrin" placeholder="Contacto principal" type="text" required>
                <mat-error *ngIf="formErrors.contactoPrin">{{formErrors.contactoPrin}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="tlfPrin" placeholder="Telefono principal" pattern = "[0-9]{9}" type="text" required>
                <mat-error *ngIf="formErrors.tlfPrin">{{formErrors.tlfPrin}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="movilPrin" placeholder="Movil principal" pattern = "[0-9]{9}" type="text" required>
                <mat-error *ngIf="formErrors.mailPrin">{{formErrors.mailPrin}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="mailPrin" placeholder="Mail principal" type="mail" required>
                <mat-error *ngIf="formErrors.mailPrin">{{formErrors.mailPrin}}</mat-error>
            </mat-form-field>
        </p>

        <br/>

        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="contactoSec" placeholder="Contacto sdecundario" type="text">
                <mat-error *ngIf="formErrors.contactoPrin">{{formErrors.contactoSec}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="tlfSec" placeholder="Telefono sdecundario" pattern = "[0-9]{9}" type="text">
                <mat-error *ngIf="formErrors.tlfSec">{{formErrors.tlfSec}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="movilSec" placeholder="Movil sdecundario" pattern = "[0-9]{9}" type="number">
                <mat-error *ngIf="formErrors.movilSec">{{formErrors.movilSec}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="mailSec" placeholder="Mail sdecundario" type="mail">
                <mat-error *ngIf="formErrors.mailSec">{{formErrors.mailSec}}</mat-error>
            </mat-form-field>
        -->
        </p> 
    
      <button type="submit" mat-button class="background-primary text-floral-white">Submit</button>
      
    </form>
  </div>

  <!-- Formulario para crear una solicitud -->

  <div fxFlex fxFlexOffset="20px" class="form-size" *ngIf="selectedFormType == 'request'">
    <h3>Registrar solicitud</h3>
    

    <form novalidate [formGroup]="clienteForm" #fform="ngForm" (ngSubmit)="onSubmit()">
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="nombre" placeholder="Razon social / Nombre" type="text" required>
                <mat-error *ngIf="formErrors.nombre">{{formErrors.nombre}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="cif" placeholder="Cif" type="text" pattern="[0-9]{8}[A-Za-z]{1}" required>
                <mat-error *ngIf="formErrors.cif">{{formErrors.cif}}</mat-error>
            </mat-form-field>
       
            <!-- <mat-form-field class="half-width">
                <input matInput formControlName="calle" placeholder="Calle" type="text" required>
                <mat-error *ngIf="formErrors.calle">{{formErrors.calle}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="cp" placeholder="Codigo postal" pattern = "[0-9]{5}" type="text" required>
                <mat-error *ngIf="formErrors.cp">{{formErrors.cp}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="poblacion" placeholder="Poblacion" type="text" required>
                <mat-error *ngIf="formErrors.poblacion">{{formErrors.poblacion}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="provincia" placeholder="Provincia" type="text" required>
                <mat-error *ngIf="formErrors.provincia">{{formErrors.provincia}}</mat-error>
            </mat-form-field>
       
            <mat-form-field class="half-width">
                <input matInput formControlName="pais" placeholder="Pais" type="text" required>
                <mat-error *ngIf="formErrors.pais">{{formErrors.pais}}</mat-error>
            </mat-form-field>
        </p>

        <br/>

        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="contactoPrin" placeholder="Contacto principal" type="text" required>
                <mat-error *ngIf="formErrors.contactoPrin">{{formErrors.contactoPrin}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="tlfPrin" placeholder="Telefono principal" pattern = "[0-9]{9}" type="text" required>
                <mat-error *ngIf="formErrors.tlfPrin">{{formErrors.tlfPrin}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="movilPrin" placeholder="Movil principal" pattern = "[0-9]{9}" type="text" required>
                <mat-error *ngIf="formErrors.mailPrin">{{formErrors.mailPrin}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="mailPrin" placeholder="Mail principal" type="mail" required>
                <mat-error *ngIf="formErrors.mailPrin">{{formErrors.mailPrin}}</mat-error>
            </mat-form-field>
        </p>

        <br/>

        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="contactoSec" placeholder="Contacto sdecundario" type="text">
                <mat-error *ngIf="formErrors.contactoPrin">{{formErrors.contactoSec}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="tlfSec" placeholder="Telefono sdecundario" pattern = "[0-9]{9}" type="text">
                <mat-error *ngIf="formErrors.tlfSec">{{formErrors.tlfSec}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="movilSec" placeholder="Movil sdecundario" pattern = "[0-9]{9}" type="number">
                <mat-error *ngIf="formErrors.movilSec">{{formErrors.movilSec}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="mailSec" placeholder="Mail sdecundario" type="mail">
                <mat-error *ngIf="formErrors.mailSec">{{formErrors.mailSec}}</mat-error>
            </mat-form-field>
        -->
        </p> 
    
      <button type="submit" mat-button class="background-primary text-floral-white">Submit</button>
      
    </form>
  </div>

