<div *ngIf="selectedOperation == 'create'">
    <h3>Registrar cliente</h3>

<form novalidate [formGroup]="clientForm" #fform="ngForm" (ngSubmit)="onSubmit()">
    <p>
        <mat-form-field class="half-width">
            <input matInput formControlName="nombre" placeholder="Razon social / Nombre" type="text" required>
            <mat-error *ngIf="formErrors.nombre">{{formErrors.nombre}}</mat-error>
        </mat-form-field>
    
        <mat-form-field class="half-width">
            <input matInput formControlName="cif" placeholder="Cif" type="text" pattern="[0-9]{8}[A-Za-z]{1}" required>
            <mat-error *ngIf="formErrors.cif">{{formErrors.cif}}</mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="half-width">
            <input matInput formControlName="calle" placeholder="Calle" type="text" required>
            <mat-error *ngIf="formErrors.calle">{{formErrors.calle}}</mat-error>
        </mat-form-field>
    
        <mat-form-field class="half-width">
            <input matInput formControlName="cp" placeholder="Codigo postal" pattern = "[0-9]{5}" type="text" required>
            <mat-error *ngIf="formErrors.cp">{{formErrors.cp}}</mat-error>
        </mat-form-field>
   
        <mat-form-field class="half-width">
            <input matInput formControlName="poblacion" placeholder="Poblacion" type="text" required>
            <mat-error *ngIf="formErrors.poblacion">{{formErrors.poblacion}}</mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="half-width">
            <input matInput formControlName="provincia" placeholder="Provincia" type="text" required>
            <mat-error *ngIf="formErrors.provincia">{{formErrors.provincia}}</mat-error>
        </mat-form-field>
   
        <mat-form-field class="half-width">
            <input matInput formControlName="pais" placeholder="Pais" type="text" required>
            <mat-error *ngIf="formErrors.pais">{{formErrors.pais}}</mat-error>
        </mat-form-field>
    </p>

    <br/>

    <p>
        <mat-form-field class="half-width">
            <input matInput formControlName="contactoPrin" placeholder="Contacto principal" type="text" required>
            <mat-error *ngIf="formErrors.contactoPrin">{{formErrors.contactoPrin}}</mat-error>
        </mat-form-field>
    
        <mat-form-field class="half-width">
            <input matInput formControlName="tlfPrin" placeholder="Telefono principal" pattern = "[0-9]{9}" type="text" required>
            <mat-error *ngIf="formErrors.tlfPrin">{{formErrors.tlfPrin}}</mat-error>
        </mat-form-field>
   
        <mat-form-field class="half-width">
            <input matInput formControlName="movilPrin" placeholder="Movil principal" pattern = "[0-9]{9}" type="text" required>
            <mat-error *ngIf="formErrors.mailPrin">{{formErrors.mailPrin}}</mat-error>
        </mat-form-field>
    
        <mat-form-field class="half-width">
            <input matInput formControlName="mailPrin" placeholder="Mail principal" type="mail" required>
            <mat-error *ngIf="formErrors.mailPrin">{{formErrors.mailPrin}}</mat-error>
        </mat-form-field>
    </p>

    <br/>

    <p>
        <mat-form-field class="half-width">
            <input matInput formControlName="contactoSec" placeholder="Contacto sdecundario" type="text">
            <mat-error *ngIf="formErrors.contactoPrin">{{formErrors.contactoSec}}</mat-error>
        </mat-form-field>
    
        <mat-form-field class="half-width">
            <input matInput formControlName="tlfSec" placeholder="Telefono sdecundario" pattern = "[0-9]{9}" type="text">
            <mat-error *ngIf="formErrors.tlfSec">{{formErrors.tlfSec}}</mat-error>
        </mat-form-field>
   
        <mat-form-field class="half-width">
            <input matInput formControlName="movilSec" placeholder="Movil sdecundario" pattern = "[0-9]{9}" type="number">
            <mat-error *ngIf="formErrors.movilSec">{{formErrors.movilSec}}</mat-error>
        </mat-form-field>
    
        <mat-form-field class="half-width">
            <input matInput formControlName="mailSec" placeholder="Mail sdecundario" type="mail">
            <mat-error *ngIf="formErrors.mailSec">{{formErrors.mailSec}}</mat-error>
        </mat-form-field>
    </p>

  <button type="submit" [disabled]="!clientForm.valid" mat-button class="text-floral-white">Submit</button>
  
</form>
</div>


<!-- HTML para mostrar al cliente -->
<div *ngIf="selectedOperation == 'show'">

  
    <h1><b>Visualizar cliente</b></h1>


    <p><b>Nombre/Razon social: </b>{{client.razonSocial}} &emsp;&nbsp; <b>Cif: </b>{{client.cif}}</p>
    

    <h3><b>Dirección</b></h3>
    <p><b>Ciudad:</b> {{client.direccion.poblacion}} &emsp;&nbsp; <b>Provincia:</b> {{client.direccion.provincia}}</p>
    <p><b>Cod. Postal:</b> {{client.direccion.cp}}  &emsp;&nbsp; <b>Calle:</b> {{client.direccion.calle}}</p>
   
    <p><b>Pais:</b> {{client.direccion.pais}}</p>

    <br/>

    &emsp;

    <h3>Contactos</h3>
    <div *ngFor="let contacto of client.listaContactos">
        <p><b>Nombre:</b> {{contacto.nombre}}</p>
        <p><b>Telefono 1:</b> {{contacto.telefono1}}</p>
        <p *ngIf="contacto.telefono2"><b>Telefono 2:</b> {{contacto.telefono2}}</p>
        <p><b>Email:</b> {{contacto.email}}</p>

    </div>
    

</div>


<div *ngIf="selectedOperation == 'edit'">
    <h1>Editar cliente</h1>

    <form novalidate [formGroup]="clientForm" #fform="ngForm" (ngSubmit)="onSubmit()">
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="nombre" placeholder="Razon social / Nombre" type="text" required>
                <!-- <mat-error *ngIf="formErrors.nombre">{{formErrors.nombre}}</mat-error> -->
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="cif" placeholder="Cif" type="text" pattern="[0-9]{8}[A-Za-z]{1}" required>
                <!-- <mat-error *ngIf="formErrors.cif">{{formErrors.cif}}</mat-error> -->
            </mat-form-field>
        <!-- </p>

    <br/>

        <p> -->
            <mat-form-field class="half-width">
                <input matInput formControlName="calle" placeholder="Calle" type="text" required>
                <!-- <mat-error *ngIf="formErrors.calle">{{formErrors.calle}}</mat-error> -->
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="cp" placeholder="Codigo postal" pattern = "[0-9]{5}" type="text" required>
                <!-- <mat-error *ngIf="formErrors.cp">{{formErrors.cp}}</mat-error> -->
            </mat-form-field>
        <!-- </p>
        <p> -->
            <mat-form-field class="half-width">
                <input matInput formControlName="poblacion" placeholder="Poblacion" type="text" required>
                <!-- <mat-error *ngIf="formErrors.poblacion">{{formErrors.poblacion}}</mat-error> -->
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="provincia" placeholder="Provincia" type="text" required>
                <!-- <mat-error *ngIf="formErrors.provincia">{{formErrors.provincia}}</mat-error> -->
            </mat-form-field>
       
            <mat-form-field class="half-width">
                <input matInput formControlName="pais" placeholder="Pais" type="text" required>
                <!-- <mat-error *ngIf="formErrors.pais">{{formErrors.pais}}</mat-error> -->
            </mat-form-field>
        </p>

        <br/>

        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="contactoPrin" placeholder="Contacto principal" type="text" required>
                <!-- <mat-error *ngIf="formErrors.contactoPrin">{{formErrors.contactoPrin}}</mat-error> -->
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="tlfPrin" placeholder="Telefono principal" pattern = "[0-9]{9}" type="text" required>
                <!-- <mat-error *ngIf="formErrors.tlfPrin">{{formErrors.tlfPrin}}</mat-error> -->
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="movilPrin" placeholder="Movil principal" pattern = "[0-9]{9}" type="text" required>
                <!-- <mat-error *ngIf="formErrors.mailPrin">{{formErrors.mailPrin}}</mat-error> -->
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="mailPrin" placeholder="Mail principal" type="mail" required>
                <!-- <mat-error *ngIf="formErrors.mailPrin">{{formErrors.mailPrin}}</mat-error> -->
            </mat-form-field>
        </p>

        <br/>

        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="contactoSec" placeholder="Contacto sdecundario" type="text">
                <!-- <mat-error *ngIf="formErrors.contactoPrin">{{formErrors.contactoSec}}</mat-error> -->
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="tlfSec" placeholder="Telefono sdecundario" pattern = "[0-9]{9}" type="text">
                <!-- <mat-error *ngIf="formErrors.tlfSec">{{formErrors.tlfSec}}</mat-error> -->
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="movilSec" placeholder="Movil sdecundario" pattern = "[0-9]{9}" type="number">
                <!-- <mat-error *ngIf="formErrors.movilSec">{{formErrors.movilSec}}</mat-error> -->
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="mailSec" placeholder="Mail sdecundario" type="mail">
                <!-- <mat-error *ngIf="formErrors.mailSec">{{formErrors.mailSec}}</mat-error> -->
            </mat-form-field>
        </p>
    
      <button type="submit" mat-button class=" text-floral-white">Submit</button>
      
    </form>
    
</div>