<!-- <button (click)="showForm('null','null')" *ngIf=!menuShowed>Volver</button> -->
 
 
 <div class="container"
 fxLayout="column"
 fxLayoutGap="10px"
 *ngIf=menuShowed>

<mat-grid-list  fxFlex cols="5" rowHeight="1:1.2">

<mat-grid-tile *ngFor="let option of options" (click)="showTable(option.title)">

  <img matListAvatar src={{option.image}} alt={{option.title}}>

  <mat-grid-tile-footer class="footer">
    {{ option.title }}
  </mat-grid-tile-footer >
</mat-grid-tile>

</mat-grid-list>

</div>


<br/>
<app-table *ngIf="tableShowed" selectedTableType={{selectedType}}></app-table>




 <!-- <div class="container"
 fxLayout="column"
 fxLayoutGap="10px"
 *ngIf=showed>

<mat-grid-list  fxFlex cols="5" rowHeight="1:2">
    
    <mat-grid-tile>

        <div class="container"
        fxLayout="column"
        fxLayoutGap="10px"
        *ngIf=showed>
            <mat-list>

                <h1>Clientes</h1>

                <mat-list-item *ngFor="let option of options[0]" (click)="showForm(option.title, 'client')">
                <img matListAvatar src={{option.image}} alt="...">
                <h3 matLine> {{option.title}} </h3>
                <p matLine>
                    <span> {{option.title}} </span>
                    <span class="demo-2"> -- {{option.title}} </span>
                </p>
                </mat-list-item>
            </mat-list>

        </div>
    
    </mat-grid-tile>
    <mat-grid-tile>

        <div class="container"
        fxLayout="column"
        fxLayoutGap="10px"
        *ngIf=showed>

        <mat-list>
            <h1>Sedes</h1>

            <mat-list-item *ngFor="let option of options[1]" (click)="showForm(option.title, 'headquarters')">
            <img matListAvatar src={{option.image}} alt="...">
            <h3 matLine> {{option.title}} </h3>
            <p matLine>
                <span> {{option.title}} </span>
                <span class="demo-2"> -- {{option.title}} </span>
            </p>
            </mat-list-item>
        </mat-list>

        </div>
    
    </mat-grid-tile>
    <mat-grid-tile>

        <div class="container"
        fxLayout="column"
        fxLayoutGap="10px"
        *ngIf=showed>

        <mat-list>
            <h1>Proyectos</h1>

            <mat-list-item *ngFor="let option of options[2]" (click)="showForm(option.title, 'project')">
            <img matListAvatar src={{option.image}} alt="...">
            <h3 matLine> {{option.title}} </h3>
            <p matLine>
                <span> {{option.title}} </span>
                <span class="demo-2"> -- {{option.title}} </span>
            </p>
            </mat-list-item>
        </mat-list>

        </div>
    
    </mat-grid-tile>
    <mat-grid-tile>

        <div class="container"
        fxLayout="column"
        fxLayoutGap="10px"
        *ngIf=showed>

        <mat-list>
            <h1>Transportes</h1>

            <mat-list-item *ngFor="let option of options[3]" (click)="showForm(option.title, 'transport')">
            <img matListAvatar src={{option.image}} alt="...">
            <h3 matLine> {{option.title}} </h3>
            <p matLine>
                <span> {{option.title}} </span>
                <span class="demo-2"> -- {{option.title}} </span>
            </p>
            </mat-list-item>
        </mat-list>

        </div>
    
    </mat-grid-tile>
    <mat-grid-tile>

        <div class="container"
        fxLayout="column"
        fxLayoutGap="10px"
        *ngIf=showed>

        <mat-list>
            <h1>Solicitudes</h1>

            <mat-list-item *ngFor="let option of options[4]" (click)="showForm(option.title, 'request')">
            <img matListAvatar src={{option.image}} alt="...">
            <h3 matLine> {{option.title}} </h3>
            <p matLine>
                <span> {{option.title}} </span>
                <span class="demo-2"> -- {{option.title}} </span>
            </p>
            </mat-list-item>
        </mat-list>

        </div>
    
    </mat-grid-tile>


</mat-grid-list>

</div> -->



<!-- <app-create *ngIf="selected == 'Crear'" selectedFormType={{type}}></app-create>
<app-edit *ngIf="selected == 'Editar'" selectedFormType={{type}}></app-edit>
<app-delete *ngIf="selected == 'Borrar'" selectedFormType={{type}}></app-delete> -->
 
 
 <!-- <div class="container"
  fxLayout="column"
  fxLayoutGap="10px"
  *ngIf=showed>

  <mat-list>
     <mat-list-item *ngFor="let option of options[0]" (click)="showForm(option.title)">
       <img matListAvatar src={{option.image}} alt="...">
       <h3 matLine> {{option.title}} </h3>
       <p matLine>
         <span> {{option.title}} </span>
         <span class="demo-2"> -- {{option.title}} </span>
       </p>
     </mat-list-item>
   </mat-list>

</div> -->