<!-- <form>

    <label for="nombre">Razón social/Nombre: </label>
    <input type="text" id="nombre" name="nombre" [(ngModel)]="cliente.nombre">

    <br>

    <label for="cif">Cif: </label>
    <input type="text" id="cif" name="cif" [(ngModel)]="cliente.cif">

    <br>

    <label for="direccion">Dirección: </label>
    <input type="text" id="direccion" name="direccion" [(ngModel)]="cliente.direccion.calle">

    <br>

    <label for="poblacion">Población: </label>
    <input type="text" id="poblacion" name="poblacion" [(ngModel)]="cliente.direccion.poblacion">

    <br>

    <label for="provincia">Provincia: </label>
    <input type="text" id="provincia" name="provincia" [(ngModel)]="cliente.direccion.provincia">

    <br>

    <label for="pais">Pais: </label>
    <input type="text" id="pais" name="pais" [(ngModel)]="cliente.direccion.pais">

    <br>
    <br>

    <label for="contacto">Contacto: </label>
    <input type="text" id="contacto" name="contacto" [(ngModel)]="cliente.contacto.contactoPrin">

    <br>

    <label for="telefono">Telefono: </label>
    <input type="text" id="telefono" name="telefono" [(ngModel)]="cliente.contacto.tlfPrin">

    <br>

    <label for="movil">Movil: </label>
    <input type="text" id="movil" name="movil" [(ngModel)]="cliente.contacto.movilPrin">

    <br>

    <label for="email">Email: </label>
    <input type="text" id="email" name="email" [(ngModel)]="cliente.contacto.mailPrin">

    <button type="submit" (click)="registerUser()">Registrar</button>
</form> 

<p>hola {{cliente.nombre}} {{cliente.contacto.mailPrin}}</p> -->


<div fxFlex fxFlexOffset="20px" class="form-size">
    <h3>Registrar cliente</h3>
    <p>{{ clienteForm.value | json }} {{ cliente.nombre | json }}</p>

    <form novalidate [formGroup]="clienteForm" #fform="ngForm" (ngSubmit)="onSubmit()">
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="nombre" placeholder="Razon social / Nombre" type="text" required>
                <mat-error *ngIf="formErrors.nombre">{{formErrors.nombre}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="cif" placeholder="Cif" type="text" pattern="[0-9]{8}[A-Za-z]{1}" required>
                <mat-error *ngIf="formErrors.cif">{{formErrors.cif}}</mat-error>
            </mat-form-field>
        </p>

    <br/>

        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="calle" placeholder="Calle" type="text" required>
                <mat-error *ngIf="formErrors.calle">{{formErrors.calle}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="cp" placeholder="Codigo postal" pattern = "[0-9]{5}" type="text" required>
                <mat-error *ngIf="formErrors.cp">{{formErrors.cp}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="poblacion" placeholder="Poblacion" type="text" required>
                <mat-error *ngIf="formErrors.poblacion">{{formErrors.poblacion}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="provincia" placeholder="Provincia" type="text" required>
                <mat-error *ngIf="formErrors.provincia">{{formErrors.provincia}}</mat-error>
            </mat-form-field>
       
            <mat-form-field class="half-width">
                <input matInput formControlName="pais" placeholder="Pais" type="text" required>
                <mat-error *ngIf="formErrors.pais">{{formErrors.pais}}</mat-error>
            </mat-form-field>
        </p>

        <br/>

        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="contactoPrin" placeholder="Contacto principal" type="text" required>
                <mat-error *ngIf="formErrors.contactoPrin">{{formErrors.contactoPrin}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="tlfPrin" placeholder="Telefono principal" pattern = "[0-9]{9}" type="text" required>
                <mat-error *ngIf="formErrors.tlfPrin">{{formErrors.tlfPrin}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="movilPrin" placeholder="Movil principal" pattern = "[0-9]{9}" type="text" required>
                <mat-error *ngIf="formErrors.mailPrin">{{formErrors.mailPrin}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="mailPrin" placeholder="Mail principal" type="mail" required>
                <mat-error *ngIf="formErrors.mailPrin">{{formErrors.mailPrin}}</mat-error>
            </mat-form-field>
        </p>

        <br/>

        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="contactoSec" placeholder="Contacto sdecundario" type="text">
                <mat-error *ngIf="formErrors.contactoPrin">{{formErrors.contactoSec}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="tlfSec" placeholder="Telefono sdecundario" pattern = "[0-9]{9}" type="text">
                <mat-error *ngIf="formErrors.tlfSec">{{formErrors.tlfSec}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="movilSec" placeholder="Movil sdecundario" pattern = "[0-9]{9}" type="number">
                <mat-error *ngIf="formErrors.movilSec">{{formErrors.movilSec}}</mat-error>
            </mat-form-field>
        
            <mat-form-field class="half-width">
                <input matInput formControlName="mailSec" placeholder="Mail sdecundario" type="mail">
                <mat-error *ngIf="formErrors.mailSec">{{formErrors.mailSec}}</mat-error>
            </mat-form-field>
        </p>
    
      <button type="submit" mat-button class="background-primary text-floral-white">Submit</button>
      
    </form>
  </div>


