<!-- 
  <div class="container"
     fxLayout="column"
     fxLayoutGap="10px"
     *ngIf=showed>

     <mat-list>
        <mat-list-item *ngFor="let option of options" (click)="showForm(option.title)">
          <img matListAvatar src={{option.image}} alt="...">
          <h3 matLine> {{option.title}} </h3>
          <p matLine>
            <span> {{option.title}} </span>
            <span class="demo-2"> -- {{option.title}} </span>
          </p>
        </mat-list-item>
      </mat-list>

</div>

<button (click)="showForm('null')" *ngIf=!showed>Volver</button>

<app-create *ngIf="selected == 'Crear cliente'"></app-create> -->

<app-table selectedTableType='Usuarios'></app-table>