/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Roboto:wght@300&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.text-floral-white{
  background-color: #2483a6;
  
}


.background-primary {
    background-color: #512DA8!important;
  }
.background-accent {
    background-color: #FFC107!important;
  }
.text-floral-white {
    color: floralwhite!important;
}

.flex-spacer {
  flex: 1 1 auto;
}
