
<!-- Formulario para registrar una nueva solicitud -->
<div *ngIf="selectedOperation == 'create'">
    <h3>Registrar solicitud</h3>

<form novalidate [formGroup]="requestForm" #fform="ngForm" (ngSubmit)="onSubmit()">


    <p>
        <mat-form-field class="half-width" >
            <mat-label>Proyecto: </mat-label>
            <mat-select [(value)]="selectedProjectName" > 
                <mat-option *ngFor="let project of projectList" [value]="project.nombre" >{{project.nombre}}</mat-option>
            </mat-select> 
        </mat-form-field>

        <mat-form-field class="half-width">
            <mat-label>Sede: </mat-label>
            <mat-select [(value)]="selectedHeadquaterName">
                <mat-option *ngFor="let headquater of headquatersList" [value]="headquater.nombre">{{headquater.nombre}}</mat-option>
            </mat-select> 
        </mat-form-field>

        <mat-form-field class="half-width">
            <mat-label>Transporte: </mat-label>
            <mat-select [(value)]="selectedTransportName">
                <mat-option *ngFor="let transport of transportsList" [value]="transport.nombre">{{transport.nombre}}</mat-option>
            </mat-select> 
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="half-width">
            <input matInput formControlName="referencia" placeholder="Referencia" type="text" required>
            <!-- <mat-error *ngIf="formErrors.nombre">{{formErrors.nombre}}</mat-error> -->
        </mat-form-field>
    
        <mat-form-field class="half-width">
            <input matInput formControlName="fechaRecogida" placeholder="Fecha Recogida" type="date"  required>
            <!-- <mat-error *ngIf="formErrors.cif">{{formErrors.cif}}</mat-error> -->
        </mat-form-field>
    
        <mat-form-field class="half-width">
            <input matInput formControlName="horario" placeholder="Horario" type="time" required>
            <!-- <mat-error *ngIf="formErrors.calle">{{formErrors.calle}}</mat-error> -->
        </mat-form-field>
    
        <mat-form-field class="half-width">
            <input matInput formControlName="comentarioTransporte" placeholder="Comentario transporte"  type="text" required>
            <!-- <mat-error *ngIf="formErrors.cp">{{formErrors.cp}}</mat-error> -->
        </mat-form-field>
   

    </p>


    <table class="table table-bordered" formArrayName="materiales">
        <tr>
          <th colspan="2">Añadrid materiales</th>
          <th width="150px"><button mat-stroked-button color="accent" type="button" (click)="addMaterials()" class="btn btn-primary">Añadir</button></th>
        </tr>
        <tr *ngFor="let materiales of materials().controls; let i=index" [formGroupName]="i">

            <mat-form-field class="half-width" >
                <mat-label>Material: </mat-label>
                <mat-select formControlName="type" class="form-control"> 
                    <mat-option *ngFor="let mat of materialsList" [value]="mat" >{{mat}}</mat-option>
                </mat-select> 
            </mat-form-field>
          
          <td>
              <mat-form-field>
                <mat-label>Cantidad</mat-label>
                <input matInput formControlName="quantity" class="form-control" type="number">
            </mat-form-field>
             
          </td>
          <td>
              <button mat-stroked-button color="warn" (click)="removeMaterial(i)" class="btn btn-danger">Borrar</button>
          </td>
        </tr>
      </table>
        
      
    
    <p>

        
        <mat-slide-toggle  [(ngModel)]="destruir" [ngModelOptions]="{standalone: true}">Destruir</mat-slide-toggle>
        <!-- <mat-error *ngIf="formErrors.destruir">{{formErrors.poblacion}}</mat-error> -->
        
        <mat-slide-toggle [(ngModel)]="degauss" [ngModelOptions]="{standalone: true}">Degauss</mat-slide-toggle>
        <!-- <mat-error *ngIf="formErrors.destruir">{{formErrors.poblacion}}</mat-error> -->

        <mat-slide-toggle  [(ngModel)]="pasarRecicje" [ngModelOptions]="{standalone: true}">Pasar reciclaje</mat-slide-toggle>
        <!-- <mat-error *ngIf="formErrors.destruir">{{formErrors.poblacion}}</mat-error> -->
        
        <mat-slide-toggle [(ngModel)]="separarReciclaje" [ngModelOptions]="{standalone: true}">Separar reciclaje</mat-slide-toggle>
        <!-- <mat-error *ngIf="formErrors.destruir">{{formErrors.poblacion}}</mat-error> -->
          
        <mat-slide-toggle [(ngModel)]="reciclarTodo" [ngModelOptions]="{standalone: true}">Reciclar todo</mat-slide-toggle>
        <!-- <mat-error *ngIf="formErrors.destruir">{{formErrors.poblacion}}</mat-error> -->
       
    </p>

    <p>
        <mat-form-field class="half-width">
            <input matInput formControlName="comentInventario" placeholder="Comentario inventario" type="text" required>
            <!-- <mat-error *ngIf="formErrors.calle">{{formErrors.calle}}</mat-error> -->
        </mat-form-field>
    
        <mat-form-field class="half-width">
            <input matInput formControlName="observaciones" placeholder="Observaciones"  type="text" required>
            <!-- <mat-error *ngIf="formErrors.cp">{{formErrors.cp}}</mat-error> -->
        </mat-form-field>
    </p>

 

  <button type="submit" [disabled]="!requestForm.valid" mat-button class="text-floral-white">Submit</button>
  
</form>
</div>



<!-- Formulario para editar una nueva solicitud -->
<div *ngIf="selectedOperation == 'edit'">
    <h3>Editar solicitud</h3>

<form novalidate [formGroup]="requestForm" #fform="ngForm" (ngSubmit)="onSubmit()">

    <p>
        <mat-form-field class="half-width" >
            <mat-label>Proyecto: </mat-label>
            <mat-select formControlName="projectSelect" > 
                <mat-option *ngFor="let project of projectList" [value]="project.nombre" >{{project.nombre}}</mat-option>
            </mat-select> 
        </mat-form-field>

        <mat-form-field class="half-width">
            <mat-label>Sede: </mat-label>
            <mat-select formControlName="headquaterSelect">
                <mat-option *ngFor="let headquater of headquatersList" [value]="headquater.nombre">{{headquater.nombre}}</mat-option>
            </mat-select> 
        </mat-form-field>

        <mat-form-field class="half-width">
            <mat-label>Transporte: </mat-label>
            <mat-select formControlName="transportSelect">
                <mat-option *ngFor="let transport of transportsList" [value]="transport.nombre">{{transport.nombre}}</mat-option>
            </mat-select> 
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="half-width">
            <input matInput formControlName="referencia" placeholder="Referencia" type="text" required>
            <!-- <mat-error *ngIf="formErrors.nombre">{{formErrors.nombre}}</mat-error> -->
        </mat-form-field>
    
        <mat-form-field class="half-width">
            <input matInput formControlName="fechaRecogida" placeholder="Fecha Recogida" type="date"  required>
            <!-- <mat-error *ngIf="formErrors.cif">{{formErrors.cif}}</mat-error> -->
        </mat-form-field>
    
        <mat-form-field class="half-width">
            <input matInput formControlName="horario" placeholder="Horario" type="text" required>
            <!-- <mat-error *ngIf="formErrors.calle">{{formErrors.calle}}</mat-error> -->
        </mat-form-field>
    
        <mat-form-field class="half-width">
            <input matInput formControlName="comentarioTransporte" placeholder="Comentario transporte"  type="text" required>
            <!-- <mat-error *ngIf="formErrors.cp">{{formErrors.cp}}</mat-error> -->
        </mat-form-field>
   

    </p>


    <table class="table table-bordered" formArrayName="materiales">
        <tr>
          <th colspan="2">Añadrid materiales</th>
          <th width="150px"><button mat-stroked-button color="accent" type="button" (click)="addMaterials()" class="btn btn-primary">Añadir</button></th>
        </tr>
        <tr *ngFor="let materiales of materials().controls; let i=index" [formGroupName]="i">

            <mat-form-field class="half-width" >
                <mat-label>Material: </mat-label>
                <mat-select formControlName="type" class="form-control"> 
                    <mat-option *ngFor="let mat of materialsList" [value]="mat" >{{mat}}</mat-option>
                </mat-select> 
            </mat-form-field>
          
          <td>
              <mat-form-field>
                <mat-label>Cantidad</mat-label>
                <input matInput formControlName="quantity" class="form-control">
            </mat-form-field>
             
          </td>
          <td>
              <button mat-stroked-button color="warn" (click)="removeMaterial(i)" class="btn btn-danger">Borrar</button>
          </td>
        </tr>
      </table>
        
      
    
    <p>

        
        <mat-slide-toggle  formControlName="destruir">Destruir</mat-slide-toggle>
        <!-- <mat-error *ngIf="formErrors.destruir">{{formErrors.poblacion}}</mat-error> -->
        
        <mat-slide-toggle formControlName="degauss">Degauss</mat-slide-toggle>
        <!-- <mat-error *ngIf="formErrors.destruir">{{formErrors.poblacion}}</mat-error> -->

        <mat-slide-toggle  formControlName="pasarRecicje">Pasar reciclaje</mat-slide-toggle>
        <!-- <mat-error *ngIf="formErrors.destruir">{{formErrors.poblacion}}</mat-error> -->
        
        <mat-slide-toggle formControlName="separarReciclaje">Separar reciclaje</mat-slide-toggle>
        <!-- <mat-error *ngIf="formErrors.destruir">{{formErrors.poblacion}}</mat-error> -->
          
        <mat-slide-toggle formControlName="reciclarTodo">Reciclar todo</mat-slide-toggle>
        <!-- <mat-error *ngIf="formErrors.destruir">{{formErrors.poblacion}}</mat-error> -->
       
    </p>

    <p>
        <mat-form-field class="half-width">
            <input matInput formControlName="comentInventario" placeholder="Comentario inventario" type="text" required>
            <!-- <mat-error *ngIf="formErrors.calle">{{formErrors.calle}}</mat-error> -->
        </mat-form-field>
    
        <mat-form-field class="half-width">
            <input matInput formControlName="observaciones" placeholder="Observaciones"  type="text" required>
            <!-- <mat-error *ngIf="formErrors.cp">{{formErrors.cp}}</mat-error> -->
        </mat-form-field>
    </p>

 

  <button type="submit" mat-button class=" text-floral-white">Submit</button>
  
</form>
</div>





<!-- HTML para mostrar la solicitud -->
<div *ngIf="selectedOperation == 'show'">
    <mat-dialog-content>
    <h1>Visualizar solicitud</h1>


    <p>Referencia: {{request.referencia}}</p>
    <p>Fecha de recogida: {{request.fechaRecogida}}</p>
    <p>Horario: {{request.horario}}</p>
    <p>Comentario transporte: {{request.comentTransporte}}</p>

    <h3>Materiales</h3>
    <p *ngFor="let material of request.materiales">{{material.tipo.tipoMaterial + " " + material.cantidad}}</p>
    
    <br/>
<div *ngIf="request.proyecto">
    <p>Proyecto: {{request.proyecto.nombre}}</p>
    <p>Sede: {{request.sede.nombre}}</p>
    <p>Transporte: {{request.transporte.nombre}}</p>
</div>
    <br/>

    <h3>Instrucciones</h3>
    <p>Destruir: {{request.instrucciones.destruir?"Si":"No"}}</p>
    <p>Degauss: {{request.instrucciones.degauss?"Si":"No"}}</p>
    <p>Pasar reciclaje: {{request.instrucciones.pasarReciclaje?"Si":"No"}}</p>
    <p>Separar reciclaje: {{request.instrucciones.separarReciclaje?"Si":"No"}}</p>
    <p>Reciclar todo: {{request.instrucciones.reciclarTodo?"Si":"No"}}</p>

    <p>Comentario inventario: {{request.instrucciones.comentInventario}}</p>
    <p>Observaciones: {{request.instrucciones.observaciones}}</p>
</mat-dialog-content>
</div>

